//-------------------------------------------------------------------------------
// Font Import
//-------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700');

//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Fonts 
$font-sans	: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-serif : "Old Standard TT", Georgia, sans-serif; 

// Colors
$color-background 			: #FE818F;
$color-background-footer 	: #FE5E70;
$color-background-author 	: #F2F2F2;
$color-background-testi 	: #FFFFFF;
$color-text					: #FFFFFF;
$color-text-special			: #FFFFFF;
$color-text-testi-name		: #999999;
$color-text-testi-quote		: #666666;
$color-text-author-heading	: #222222;
$color-text-author-content	: #888888;
$color-text-author-link		: #666666;
$color-text-inside-heading	: #FFFFFF;
$color-text-inside-content	: #FFFFFF;
$color-text-inside-stats	: #FFFFFF;
// $color-button				: #F8354F; needs to be edited within Page Builder UI
// $color-button-text			: #FFFFFF; needs to be edited within Page Builder UI
$color-link-sample			: #F9D5D9;
$color-link-hover-sample	: #FFFFFF;
$color-text-copyright		: #F3A5AB; 

// Breakpoints
$bp-smallish 		: 1200px;
$bp-tablet 			: 800px;
$bp-mobile 			: 500px;

//-------------------------------------------------------------------------------
// Extends
//-------------------------------------------------------------------------------

%style-heading {
	font-size: 55px;
	line-height: 60px;
	letter-spacing: -2px;
	margin-bottom: 40px;

	@media (max-width: $bp-smallish ) {
		font-size: 44px;
		line-height: 50px;
		letter-spacing: -2px;
		margin-bottom: 24px;
	}		
}

%style-meta {
	font-family: $font-sans;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	opacity: 0.6;
	letter-spacing: 0.5px;
}

%style-paragraph {
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 24px;
}

%style-button-buy {
	border-width: 2px;
	border-style: solid;
	font-weight: 700;
	// color: $color-button-text; 		needs to be edited within Page Builder UI
	// background-color: $color-button; needs to be edited within Page Builder UI
	// border-color: $color-button; 	needs to be edited within Page Builder UI
}

%style-link-sample {
	font-family: $font-sans;
	font-size: 14px;
	line-height: 14px;

	a {
		color: $color-link-sample;
		border-bottom: 1px dashed $color-link-sample;

		&:hover {
			color: $color-link-hover-sample;
			border-bottom: 1px dashed $color-link-hover-sample;
		}
	}
}

%margins-left {
	margin-left: auto;
	max-width: 500px;
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;

	@media (max-width: $bp-tablet ) {
		margin-left: 0;
		margin-right: 0;
		max-width: 90%;
	}	
}

%margins-right {
	margin-right: auto;
	max-width: 500px;
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;

	@media (max-width: $bp-tablet ) {
		margin-right: 0;
		max-width: 100%;
	}	
}

%background-glow {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=1 );
}

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
