/*
Layout Name: FullSingle - Flyleaf
Author: One Page Love
Author URI: https://onepagelove.com
Layout URI: https://onepagelove.com/fullsingle
Description: Flyleaf is a long-scrolling Landing Page layout for promoting your eBook.
Version: 0.5.1
*/

@import "00-reset";
@import "01-globals";
@import "02-content";