//-------------------------------------------------------------------------------
// Font Import
//-------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Fonts 
$font-sans	: 'Source Sans Pro', sans-serif;

// Colors
$color-background 			: #FFFFFF;
$color-background-work 		: #222222;
$color-background-contact 	: #151515;
$color-background-copyright : #111111;
$color-text					: #555555;
$color-text-intro  			: #444444;
$color-text-section-titles  : #444444;
$color-text-work			: #EEEEEE;
$color-text-date			: #666666;
$color-text-contact			: #DDDDDD;
$color-text-copyright		: #333333; 

// Breakpoints
$bp-smallish 		: 1200px;
$bp-tablet 			: 800px;
$bp-mobile 			: 500px;

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0; margin-top: 10px; }
    to   { opacity: 1; margin-top: 0;}
}