/*
Layout Name: FullSingle Minimal Two
Author: One Page Love
Author URI: https://onepagelove.com
Layout URI: https://onepagelove.com/fullsingle
Description: Description here.
Version: 1.0.2
*/

@import "reset";
@import "fs-minimal-two-content";