/*
Layout Name: FullSingle - Vitae
Author: One Page Love
Author URI: https://onepagelove.com
Layout URI: https://onepagelove.com/fullsingle
Description: Vitae is a minimal Curriculum Vitae layout featuring about, work history, networks and contact details.
Version: 0.5.2
*/

@import "00-reset";
@import "01-globals";
@import "02-content";