//-------------------------------------------------------------------------------
// Font Import
//-------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Fonts 
$font-sans	: 'Roboto', Helvetica, Arial, sans-serif;

// Colors
$color-background		: #141414;
$color-text				: #999999;
$color-text-link		: #CCCCCC;
$color-text-link-hover	: #FFFFFF;
$color-icon				: #999999;
$color-icon-hover		: #FFFFFF;

// Breakpoints
$bp-smallish 		: 1200px;
$bp-tablet 			: 800px;
$bp-mobile 			: 500px;

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}