//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

body.page-template-page-fullsingle-me {
	background-color: $color-background; 
	font-family: $font-sans;
	font-weight: 500;
	font-size: 45px;
	line-height: 60px;
	letter-spacing: -0.5px;
	color: $color-text;

	//-------------------------------------------------------------------------------
	// Site Origin Page Builder Global Styles
	//-------------------------------------------------------------------------------

	.panel-grid {
		margin-bottom: 0 !important; // reset

		.panel-row-style { // Need to include within layout cells on future Page Builder update
			background-image:url(https://s3.amazonaws.com/fullsingle/me-bg.jpg);
			background-position:center center;
			background-size:cover 
		} 

	}

	p {
		margin-bottom: 28px;
		color: $color-text;

		@media (max-width: $bp-tablet ) {
			font-size: 32px;
			line-height: 40px;
		}	

	}

	//-------------------------------------------------------------------------------
	// Sections
	//-------------------------------------------------------------------------------

	.fs-me {
		padding: 10vh 10vw;

		@media (max-width: $bp-mobile ) {
			padding: 5vh 5vw;
			text-align: center;
		}	

	  	.panel-grid-cell {
	  		height: 80vh;
			display: flex;
	  		flex-direction: column;

			@media (max-width: $bp-mobile ) {
				height: 90vh; // as padding now 5vh 5vw
			}	

			//-------------------------------------------------------------------------------
			// Logo
			//-------------------------------------------------------------------------------

		  	.so-panel:nth-child(1) { 
				flex: 1 1 auto;
		  		display: flex;
		  		flex-direction: column;
		  		align-self: left;
		  		animation: fadein 2s;

				@media (max-width: $bp-mobile ) {
					align-self: center;
				}

				img {
					max-width: 165px;
					height: auto;
				}
			}

			//-------------------------------------------------------------------------------
			// Bio
			//-------------------------------------------------------------------------------

			.so-panel:nth-child(2) { 
				flex: 1 1 auto;
		  		display: flex;
		  		flex-direction: column;
				justify-content: center;
				animation: fadein 4s;
				letter-spacing: -1px;

				a {
					color: $color-text-link;

					&:hover {
						color: $color-text-link-hover;
					}
				}
			}

			//-------------------------------------------------------------------------------
			// Network
			//-------------------------------------------------------------------------------

			.so-panel:nth-child(3) { 
				flex: 1 1 auto;
	  			display: flex;
	  			flex-direction: column;
	  			animation: fadein 6s;
	  			margin-bottom: 0 !important; // kills gap under icons
	  			
				@media (max-width: $bp-mobile ) {
					align-self: center;
				}

	  			.network {
				    margin-top: auto;
	  			}

	  			.sow-social-media-button {
	  				padding: 0;
	  				margin: 0 16px 0 0;
	  				font-size: 22px;
	  				line-height: 22px;
	  				color: $color-icon;
	  			}

	  			.sow-icon-fontawesome {
	  				color: $color-icon;

	  				&:hover {
	  					color: $color-icon-hover;
	  				}

	  			}

	  		}

			//-------------------------------------------------------------------------------
			// Credit
			//-------------------------------------------------------------------------------

			.so-panel:nth-child(4) {
				animation: fadein 8s;

				p.credit {
					opacity: 0.4;
					font-size: 12px; 
					line-height: 14px;
					font-weight: 400;

					a { 
						color: $color-text;
					}

				}

			}
			
	  	}
		
	}

}