/*
Layout Name: FullSingle - Me
Author: One Page Love
Author URI: https://onepagelove.com
Layout URI: https://onepagelove.com/fullsingle
Description: Me is a minimal, personal One Page layout for any individual and features a big background image.
Version: 0.5.1
*/

@import "00-reset";
@import "01-globals";
@import "02-content";