//-------------------------------------------------------------------------------
// Font Import
//-------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Fonts 

$font-sans	: 'Roboto', Helvetica, Arial, sans-serif;

// Colors
$color-background 			: #FFFFFF;
$color-page-border		 	: #FED0C5;
$color-text					: #666666;
$color-link					: #666666;
$color-link-hover			: #333333; 

// Breakpoints
$bp-smallish 		: 1200px;
$bp-tablet 			: 800px;
$bp-mobile 			: 500px;

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
