//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

html {
	background-color: $color-background; 
}
body.page-template-page-fullsingle-bristle {
	background-color: $color-background; 
	border: 80px solid $color-page-border;
	font-family: $font-sans;
	font-weight: 400;
	font-size: 21px;
	line-height: 33px;
	letter-spacing: -0.2px;
	color: $color-text;
	animation: fadein 2s;
	padding: 80px; 

	//-------------------------------------------------------------------------------
	// Site Origin Page Builder Global Styles
	//-------------------------------------------------------------------------------

	.panel-grid,
	.so-panel {
		margin-bottom: 0 !important; // reset
	}

	p {
		color: $color-text;
	}

	ul {

		li {
			list-style: none;
			padding-left: 0;
			margin-left: 0;
		}
	}

	.panel-row-style {
		padding: 0;
		margin: 0;
	}

	h3.widget-title {
		display: none; // hide all widget titles, they are kept for better UX within Page Builder interface
	}

	strong {
		font-weight: 700;
	}
	.textwidget {
		// for testimonial name
	}


	//-------------------------------------------------------------------------------
	// Header
	//-------------------------------------------------------------------------------

	.row-header {
		text-align: center;

		.header-logo {
			height: 100px;
			width: 100px;
			margin: 0 auto 80px auto;

			img {
				width: 100%;
				max-width: 100px;
				height: auto;
			}

		}

		.header-links {
			font-size: 18px;
			line-height: 18px;
			color: #999;
			margin-bottom: 80px;

			ul {

				li {
					list-style: none;
					padding: 0;
					margin: 0 12px 0 12px;
					display: inline-block;

					a {
						display: block;
						margin: 0 12px;
						color: #999;
						&:hover {
							color: #333;
						}
					}
				}
			}
		}

		.header-intro {
			margin-bottom: 150px; // 160px - 10px for line height difference
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;

			p {
				font-size: 60px;
				line-height: 70px;
				letter-spacing: -2px;
				font-weight: bold;
				color: #444;
			}
		}
	}


	//-------------------------------------------------------------------------------
	// Projects
	//-------------------------------------------------------------------------------

	.row-projects {
		margin-bottom: 120px;

		.project {
			margin-bottom: 40px;

			.project-image {
				margin-bottom: 16px;
				background-color: #FFF;
				overflow: hidden;

				img {
					max-width: 100%; 
					height: auto;
					opacity: 1;
					transition: 2s;

					&:hover {
						opacity: 0.7;
						transition: 0.1s;
						transform: scale(1.1);
						cursor: pointer;
					}
				}

			}

			.project-title {
				margin-bottom: 4px;
				p {
					font-size: 18px;
					line-height: 18px;
					font-weight: bold;
					color: #333; 

					a {
						color: #333; 
					}
				}
			}

			.project-category {
				p {

					font-size: 14px;
					line-height: 14px;
					color: #999;
					
					a {
						color: #999; 
					}
				}
			}
		}
	}

	//-------------------------------------------------------------------------------
	// Projects
	//-------------------------------------------------------------------------------

	.row-contact {
		margin-bottom: 80px;

		.contact-details {
			text-align: center;

			p {
				font-size: 18px;
				line-height: 18px;
				color: #AAA;

				a {
					color: #AAA;
					text-decoration: underline;

					&:hover {
						color: #666;
					}
				}
			}
		}
	}
}

