/*
Layout Name: FullSingle - Bristle
Author: One Page Love
Author URI: https://onepagelove.com
Layout URI: https://onepagelove.com/fullsingle
Description: Bristle is a minimal Portfolio layout with a grid of projects that link out.
Version: 0.5.1
*/

@import "00-reset";
@import "01-globals";
@import "02-content";